.pie {
    display: flex;
    justify-content: center;
    background-color: $maincolor;
    color: white;
    text-align: center;
    padding-block: 40px;

.iconos {
display: flex;
align-items: center;
justify-content: center;
        
.fab {
      padding: 1rem;
            }
        }
    }


$redespie: (
    facebook: rgba(1, 1, 64, 0.4),
    instagram: rgba(140, 2, 140, 0.629),
    whatsapp: rgba(1, 160, 1, 0.523)
);

@each $redsocial, $color in $redespie {
    .fa-#{$redsocial} {
        background-color: $color;
    }
}

@mixin borderedondo ($border, $ancho, $alto) {
    border-radius: $border;
    width: $ancho; 
    height: $alto;
}

.iconos .fab {
@include borderedondo(100px, 50px, 50px)
}

